.todo-title {
    background-color: red;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo {
    background-color: green;
    height: 100vh;
    padding: 20px;
}